.cat-parent {
  width: 70%;
  display: block;
  margin: 70px auto;
  border-radius: 10px;
  .back {
    color: white;
    cursor: pointer;
    font-size: 20px;
    text-align: right !important;
    margin-bottom: 10px;
    margin-right: 2px;
    letter-spacing: 1.5px;
    text-decoration: underline;
  }
  .back:hover {
    color: #51b3f1;
  }
  .ant-btn {
    width: 200px;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    
  }
  .ant-card-actions {
    padding: 15px;
   
  }
  .primary {
    background-color: #51b3f1;
  }
  .danger {
    background-color: #df7583;
  }

  .cat-form-parent {
    margin: 15px 25px;


    .cat-form-info {
      display: flex;

      .cat-left-input {
        width: 70%;
        margin-right: 15px;
      }

      .title {
        font-size: 3em;
        font-weight: 900;
      }

      .cat-img {
        margin-left: auto;
        img {
          border-radius: 50%;
          border: 1px solid #ccc;
          height: 250px;
          width: 250px;
          object-fit: cover;
    
        }
      }

      .mobile {
        display: none;
      }
    }
  }

  @media (max-width: 1000px) {

    ul.ant-card-actions {
      box-sizing: none!important;
      li {
        border: 0;
        width: 100%!important;
        margin: 7px 0;
      }
    }

    .primary, .danger {
      width: 90%;
    }

    .cat-form-parent {
      margin: 10px;

      .cat-form-info {
        display: block;

        .cat-left-input {
          width: 100%!important;
          margin: 0;
        }
        .cat-img {
          margin: 10px auto;
        }
        .web {
          display: none;
        }

        .mobile {
          display: block;
          div {
            width: 100%!important;
          }
          img {
            margin: 0 auto;
            display: block;
            width: 220px;
            height: 220px;
          }
        }
      }
    }
  } 

  @media (max-width: 712px) {
    .cat-form-parent {
      .cat-form-info {
        .mobile {
          img {
            width: 180px!important;
            height: 180px!important;
          }
        }
      }
    }
  }

  @media (max-width: 486px) {
    .cat-form-parent {
      .cat-form-info {
        .mobile {
          img {
            width: 120px!important;
            height: 120px!important;
          }
        }
      }
    }
  }

  .ant-image-mask:hover {
    opacity: 1;
    border-radius: 50%;
  }
  .fileContainer {
    margin: -34px auto;
    background: unset;
    box-shadow: unset;
    
    .uploadPictureContainer {
      width: unset; 
      margin: unset;
      padding: unset;
      background: unset;
      display: flex;
      align-items: unset;
      justify-content: center;
      height: unset;
      box-shadow: unset;
      border: unset;
      position: relative;
   }
  }
}

@media (max-width: 1000px) {
  .cat-parent {
    width: 80%;
  }
}


@media (max-width: 712px) {
  .cat-parent {
    width: 95%;
  }
}