header {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 70px;
  // margin-bottom: 20px;
  color: #fff;

  h1 {
    color: #fff;
    font-size: 3.25em;
    letter-spacing: 1.5px;
    margin: 0;
    padding: 0;
  }
  p {
    font-size: 1.25em;
    letter-spacing: 1.5px;
  }



  @media (min-width: 0) and (max-width: 343px) {
    h1 {
      font-size: 2em;
    }
    p {
      font-size: 1em;
    }
  }
}

@media (min-width: 343px) and (max-width: 767px) {
  header {
    width: 95%;
  }
}

@media (min-width: 0) and (max-width: 343px) {
  header {
    width: 100%;
  }
}